* {
    box-sizing: border-box;
  }

  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: #aaa;
  }
  
  .navigation {
    padding: 10px;
    background-color: grey;
    height: 40px;
  }
  
  .navigation > .menuToggle {
    float: right;
  }
  
  .menu {
    opacity: 0;
  }
  
  
  header {
    padding: 12% 0;
  }

  .project {
    background-color: white;
    width: 80%;
    height: 300px;
    padding: 50px;
    margin: 20px;
    display: inline-block; 
    text-align: center;
  }

  /* h2, h3, {
    text-align: center;
  } */

  .downloadResume {
    box-sizing: border-box;
    display: inline-block;
    width: 300px;
    height: auto;
    font-size: 18px;
    padding: 15px;
    color: white;
    background: black;
  }

  .skillImage {
    -ms-flex: 50%; 
    flex: 50%;
    padding: 15px;
    margin: 15px;
  }

  /* .skill {
    height: 200px;
    width: 200px;
  } */

  .skill {
    height: 150px;
  }
  
  section {
    display: flex; 
    display: block;
    min-height: 100px;
    padding: 6% 0;
    background-color: #bbb;
  }
  
  section:nth-child(even) {
    background-color: #ddd;
  }

  @media screen and (min-width: 700px){
    .navigation {
      display: flex;
    }

    .menu {
      opacity: 100;
      display: flex;
      font-size: 18px;
      list-style-type: none;
      color: white;
      flex: 1;
      margin: 0;
    }

    .menuToggle{
      flex: 1;
    }

    .menuList {
      flex: 1; 
    }

    .navigation > .menuToggle {
      opacity: 0
    }

    /* header  { 
      background: url(images/bg.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    } */

    .projects {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .space {
      width: 200px
    }

    h2 {
      text-align: center;
    }

    /* .skills {
      display: flex;
    }

    .skillImage {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    } */

    /* .project1, .project2 {
      box-sizing: border-box;
      height: 100px;
      width: 100px;
    } */

  }