* {
    box-sizing: border-box;
  }

  html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

  body {
    font-family: "lato", "Montserrat";
    color: #F2F2F2;
    text-align: left;
    line-height: 1.5;
    margin: 0;
  }


  h1 {
    font-family: "Montserrat";
    font-size: 70px;
  }

  h2 {
    font-family: "Montserrat";
    font-size: 30px;
  }

  h3 {
    font-family: "lato";
    font-size: 19px;
    font-weight: normal;
    color: #154D54;
  }

  h4 {
    font-family: "lato";
    font-size: 12px;
    font-weight: normal;
  }

  p {
    font-family: "lato";
    font-size: 19px;
    font-weight: normal;
    color: #154D54;
  }

  .nav-link {
    color: #F2F2F2;
  }

  a:link {
    text-decoration: none;
  }

  a:hover {
    color: #3A3B3D;
  }

  .project-title {
    color: #3A3B3D;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    cursor: pointer;
}

input:hover {
  cursor: pointer;
}

  a:visited {
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }
  
/* /////// */

.navigationDesktop {
  visibility: hidden;
}

.hamburger{
  background:none;
  position:fixed;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 25px 0px 15px;
  color:#3A3B3D;
  border:0;
  font-size:1.8em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.cross{
  background:none;
  position:fixed;
  top:0px;
  right:0;
  padding:7px 25px 0px 15px;
  color:#3A3B3D;
  border:0;
  font-size:3.4em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#FF5C92;  position:fixed; text-align:center; font-size:12px;}
.menu .menuToggle {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block; color: #3A3B3D;  padding:15px 0 15px 0; }
.menu li:hover{display: block; background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu .menuToggle li a { text-decoration:none;  margin: 0px; color:#666;}
.menu .menuToggle li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#F2F2F2;}
.menu a:hover{text-decoration:none; color:#666;}


.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}
  
/* /////////  */

  header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #3A3B3D;
    background-color: white;
    padding: 0;
    margin: 0;
  }

  .headline {
    padding-top: 32px;
  }

  /* .mainHeader {
    padding: 16% 0;
  } */

  .projectHeader {
    padding: 5% 0;
    background-color: #ffffff;
  }

  /* .main {
    padding-top: 40px;
  } */

  .project {
    background-color: white;
    width: 400px;
    height: 400px;
    display: inline-block; 
    text-align: center;
  }

  .projectHeadline {
    margin-left: 160px;
  }

  .projectTitle {
    padding-top: 112px;
    margin-left: 105px;
    text-align: left;
  }

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  display: flex;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #FFC561;
  margin: auto;
  padding: 20px;
  /* border: 1px solid #888; */
  width: 80%;
}

/* The Close Button */
.close {
  color: #154D54;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.button1 {
  box-sizing: border-box;
  border: none;
  display: inline-block;
  width: 300px;
  height: auto;
  font-family: "Montserrat";
  font-size: 18px;
  padding: 15px;
  color: #154D54;
  background: #FF6B48;
}

.button1:hover {
  background-color: rgba(255, 105, 72, 0.577);
}

  .projectLink {
    /* margin-top: 171px;
    margin-bottom: 112px; */
    text-align: left;
    margin-left: 105px;
  }

  .rectangle {
    margin: auto;
    padding-right: 156px;
    padding-left: 156px;
  }

  .rectangleYellow {
    padding-right: 153px;
    height: 312px;
    left: 156px;
    top: 894px;
    background-color: #FFC561;
    margin-bottom: 60px;
  }

  .rectangleOrange {
    padding-right: 153px;
    height: 312px;
    left: 156px;
    top: 894px;
    background-color: #FF6B48;
    margin-bottom: 60px;
  }

  .rectangleBlue {
    padding-right: 153px;
    height: 312px;
    left: 156px;
    top: 894px;
    background-color: #00A5B9;
  }

  #dotDivider {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .button2 {
    box-sizing: border-box;
    display: inline-block;
    width: 300px;
    height: auto;
    font-family: "Montserrat";
    font-size: 18px;
    padding: 15px;
    color: #F2F2F2;
    background: #FF5C92;
  }

  .button3 {
    box-sizing: border-box;
    display: inline-block;
    width: 300px;
    height: auto;
    font-family: "Montserrat";
    font-size: 18px;
    padding: 15px;
    color: #3A3B3D;
    background: #F2F2F2;
  }

  .skill {
    height: 150px;
  }
  
  section {
    display: flex; 
    display: block;
    min-height: 100px;
    padding: 6% 0;
    background-color: #ffffff;
    color: #F2F2F2; 
  }

  .aboutMe {
    background-color: #ffffff;
    /* padding: 20px; */
    margin-top: 139px;
    margin-left: 156px;
    margin-right: 157px;
    font-family: Arial;
  }

  .meContent {
    align-items: center;
    text-align: left;
    justify-content: center;
    background-color: white;
  }
  
  section:nth-child(even) {
    background-color: #ffffff;
    color: #3A3B3D;
  }

  .fa {
    color: #F2F2F2;
  }

  .socialRow {
    margin-right: -15px;
    margin-left: -15px;
  }

  .contactIcon {
    padding: 20px;
  }

  /* nav, */
  footer {
  padding: 1% 0;
  background-color: #ffffff;
  text-align: center;
}

.footerTitle {
  text-align: center;
}


  @media screen and (min-width: 1200px){
    .navigation {
      visibility: hidden;
    }

    .navigationDesktop {
      visibility: visible;
      background: #ffffff;
      height: 50px;
      display: flex;
      z-index: 10;
      text-align: right;
    }

    .menuListDesktop {
      flex: 1;
      float: right;
      /* text: alight-right; */
      padding: 70px 103px 0px 20px;
      color: #154D54;
    }

    /* #name {
      color: #FF6B48;
      float: left; 
    } */

    .menuDesktop {
      position: relative;
      top: 0;
      right: 0;
      height: 200px;
      width: 100%;
    }

    .menuToggleDesktop {
      list-style-type: none;
      display: flex;
      float: right;
      padding-right: 36px;
      padding-top: 19.5px;
    }

    #logo { 
      position: absolute;
	    top:0; 
      left:0;
      width: auto;
      height: 200px;
    }
    
    /* .menuListDesktop:hover {
      color:#3A3B3D;
      cursor: pointer;
      padding: 153px;
    } */

    #PROJECTS {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    h2 {
      text-align: left;
      font-family: "Montserrat";
      font-size: 48px;
      color: #154D54;
    }

    .socialRow {
      display: flex;
      flex: 1;
      justify-content: center;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }

    .contactIcon {
      padding: 50px;
    }

    .fa-github:before {
      color: #154D54;
    }

    .fa-linkedin:before {
      color: #154D54;
    }

    .fa-envelope:before {
      color: #154D54;
    }

    .fa-instagram:before {
      color: #154D54;
    }

    /* #bottomSquiggles {
      bottom: 0; 
      left: 0;
      width: auto;
      height: 200px;
      position: absolute;
    } */

  }