* {
    box-sizing: border-box;
  }

  html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

  body {
    font-family: "lato", "roboto";
    color: #F2F2F2;
    text-align: center;
    line-height: 1.5;
    margin: 0;
  }


  h1 {
    font-family: "roboto";
    font-size: 70px;
  }

  h2 {
    font-family: "roboto";
    font-size: 35px;
  }

  h3 {
    font-family: "lato";
    font-size: 19px;
    font-weight: normal;
  }

  h4 {
    font-family: "lato";
    font-size: 12px;
    font-weight: normal;
  }

  p {
    padding-left: 25%;
    padding-right: 25%;
  }

  .nav-link {
    color: #F2F2F2;
  }

  a:link {
    text-decoration: none;
  }

  a:hover {
    color: #3A3B3D;
  }

  .project-title {
    color: #3A3B3D;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    cursor: pointer;
}

input:hover {
  cursor: pointer;
}

  a:visited {
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }
  
/* /////// */

.navigationDesktop {
  visibility: hidden;
}

.hamburger{
  background:none;
  position:fixed;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 25px 0px 15px;
  color:#3A3B3D;
  border:0;
  font-size:1.8em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.cross{
  background:none;
  position:fixed;
  top:0px;
  right:0;
  padding:7px 25px 0px 15px;
  color:#3A3B3D;
  border:0;
  font-size:3.4em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#FF5C92;  position:fixed; text-align:center; font-size:12px;}
.menu .menuToggle {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; }
.menu li:hover{display: block; background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu .menuToggle li a { text-decoration:none;  margin: 0px; color:#666;}
.menu .menuToggle li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#F2F2F2;}
.menu a:hover{text-decoration:none; color:#666;}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}
  
/* /////////  */

  header {
    background-image: linear-gradient(rgba(255, 255, 255, 0.721), rgba(255, 255, 255, 0.721)), url("Content/christopher-gower-_aXa21cf7rY-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #3A3B3D;
    background-color: white;
    padding: 0;
    margin: 0;
  }

  .headline {
    padding-top: 32px;
  }

  .mainHeader {
    padding: 16% 0;
    padding-left: 30px
  }

  .projectHeader {
    padding: 5% 0;
    background-color: #ffffff;
  }

  hr {
    border-width: 3px;
    max-width: 75px;
  }
  
  .pinkBar {
    border-color: #FF5C92;
  }

  .greyBar {
    border-color: #3A3B3D;
  }

  .main {
    padding-top: 40px;
  }

  .project {
    background-color: white;
    width: 400px;
    height: 400px;
    display: inline-block; 
    text-align: center;
  }

  .button1 {
    box-sizing: border-box;
    display: inline-block;
    width: 300px;
    height: auto;
    font-family: "roboto";
    font-size: 18px;
    padding: 15px;
    color: #F2F2F2;
    background: #3A3B3D;
  }

  .button2 {
    box-sizing: border-box;
    display: inline-block;
    width: 300px;
    height: auto;
    font-family: "roboto";
    font-size: 18px;
    padding: 15px;
    color: #F2F2F2;
    background: #FF5C92;
  }

  .button3 {
    box-sizing: border-box;
    display: inline-block;
    width: 300px;
    height: auto;
    font-family: "roboto";
    font-size: 18px;
    padding: 15px;
    color: #3A3B3D;
    background: #F2F2F2;
  }

  .skill {
    height: 150px;
  }
  
  section {
    display: flex; 
    display: block;
    min-height: 100px;
    padding: 6% 0;
    background-color: #FF5C92;
    color: #F2F2F2; 
  }
  
  section:nth-child(even) {
    background-color: #F2F2F2;
    color: #3A3B3D;
  }

  .fa {
    color: #F2F2F2;
  }

  .socialRow {
    margin-right: -15px;
    margin-left: -15px;
  }

  .contactIcon {
    padding: 20px;
  }

  /* nav, */
  footer {
  padding: 1% 0;
  background-color: #FF5C92;
}


  @media screen and (min-width: 800px){
    .navigation {
      visibility: hidden;
    }

    .navigationDesktop {
      visibility: visible;
      width: 100%;
      background: #FF5C92;
      height: 50px;
      display: flex;
      position: fixed;
      z-index: 10;
    }

    .menuDesktop {
      position: absolute;
      top: 0;
      right: 0;
      height: 200px;
      width: 100%;
    }

    .menuToggleDesktop {
      list-style-type: none;
      display: flex;
      float: right;
      padding-right: 30px;
    }

    .menuListDesktop {
      flex: 1;
      float: right;
      padding: 0px 20px 0px 20px;
      color: #F2F2F2;
    }
    
    .menuListDesktop:hover {
      color:#3A3B3D;
    }

    #PROJECTS {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .screenshots {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    h2 {
      text-align: center;
    }

    .socialRow {
      display: flex;
      flex: 1;
      justify-content: center;
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }

    .contactIcon {
      padding: 50px;
    }

    .skills {
      display: flex;
      flex: 8;
      justify-content: center;
      position: relative;
      min-height: 1px;
      padding: 15px;
    }

  }