* {
    box-sizing: border-box;
  }

  body {
    font-family: "lato", "roboto";
    color: #F2F2F2;
    text-align: center;
    line-height: 1.5;
    margin: 0;
  }


  h1 {
    font-family: "roboto";
    font-size: 70px;
  }

  h2 {
    font-family: "roboto";
    font-size: 35px;
  }

  h3 {
    font-family: "lato";
    font-size: 19px;
    font-weight: normal;
  }

  h4 {
    font-family: "lato";
    font-size: 12px;
    font-weight: normal;
  }

  p {
    padding-left: 25%;
    padding-right: 25%;
  }

  .nav-link {
    color: #F2F2F2;
  }

  a:link {
    text-decoration: none;
  }

  a:hover {
    color: #FF5C92;
  }

  .project-title {
    color: #3A3B3D;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    cursor: pointer;
}

input:hover {
  cursor: pointer;
}

  a:visited {
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }
  

   /* ///// */

   .menuToggle
   {
     display: block;
     position: relative;
     top: 50px;
     left: 50px;
     position: fixed;
     z-index: 1;
     
     -webkit-user-select: none;
     user-select: none;
   }
   
   .menuToggle input {
     display: block;
     width: 40px;
     height: 32px;
     position: absolute;
     top: -7px;
     left: -5px;
     cursor: pointer;
     opacity: 0; /* hide this */
     z-index: 2; /* and place it over the hamburger */
     
     -webkit-touch-callout: none;
   }
   
   /*
    * Just a quick hamburger
    */
   .menuToggle span
   {
     display: block;
     width: 33px;
     height: 4px;
     margin-bottom: 5px;
     position: relative;
     
     background: #3A3B3D;
     border-radius: 3px;
     
     z-index: 1;
     
     transform-origin: 4px 0px;
     
     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                 background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                 opacity 0.55s ease;
   }
   
   .menuToggle span:first-child
   {
     transform-origin: 0% 0%;
   }
   
   .menuToggle span:nth-last-child(2)
   {
     transform-origin: 0% 100%;
   }
   
   /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
   .menuToggle input:checked ~ span
   {
     opacity: 1;
     transform: rotate(45deg) translate(-2px, -1px);
     background: #F2F2F2;
   }
   
   /*
    * But let's hide the middle one.
    */
   .menuToggle input:checked ~ span:nth-last-child(3)
   {
     opacity: 0;
     transform: rotate(0deg) scale(0.2, 0.2);
   }
   
   /*
    * Ohyeah and the last one should go the other direction
    */
   .menuToggle input:checked ~ span:nth-last-child(2)
   {
     transform: rotate(-45deg) translate(0, -1px);
   }
   
   /*
    * Make this absolute positioned
    * at the top left of the screen
    */
   .menu
   {
     position: absolute;
     width: 300px;
     margin: -100px 0 0 -50px;
     padding: 50px;
     padding-top: 125px;
     
     background: #3A3B3D;
     list-style-type: none;
     -webkit-font-smoothing: antialiased;
     /* to stop flickering of text in safari */
     
     transform-origin: 0% 0%;
     transform: translate(-100%, 0);
     
     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
   }
   
   .menu li
   {
     padding: 10px 0;
     font-size: 22px;
   }
   
   /*
    * And let's slide it in from the left
    */
   .menuToggle input:checked ~ ul
   {
     transform: none;
   } 

/* /////// */
  
  
  header {
    background-image: linear-gradient(rgba(255, 255, 255, 0.721), rgba(255, 255, 255, 0.721)), url("christopher-gower-_aXa21cf7rY-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #3A3B3D;
    background-color: white;
    padding: 0;
    margin: 0;
  }

  .headline {
    padding-top: 32px;
  }

  .mainHeader {
    padding: 16% 0;
    padding-left: 30px
  }

  .projectHeader {
    padding: 5% 0;
    background-color: #ffffff;
  }

  hr {
    border-width: 3px;
    max-width: 75px;
  }
  
  .pinkBar {
    border-color: #FF5C92;
  }

  .greyBar {
    border-color: #3A3B3D;
  }

  .main {
    padding-top: 40px;
  }

  .project {
    background-color: white;
    width: 400px;
    height: 400px;
    /* padding: 50px;
    margin: 20px; */
    display: inline-block; 
    text-align: center;
  }

  /* h2, h3, {
    text-align: center;
  } */

  .button1 {
    box-sizing: border-box;
    display: inline-block;
    width: 300px;
    height: auto;
    font-family: "roboto";
    font-size: 18px;
    padding: 15px;
    color: #F2F2F2;
    background: #3A3B3D;
  }

  .button2 {
    box-sizing: border-box;
    display: inline-block;
    width: 300px;
    height: auto;
    font-family: "roboto";
    font-size: 18px;
    padding: 15px;
    color: #F2F2F2;
    background: #FF5C92;
  }

  /* .skillImage {
    -ms-flex: 50%; 
    flex: 50%;
    padding: 15px;
    margin: 15px;
  } */

  /* .skill {
    height: 200px;
    width: 200px;
  } */

  .skill {
    height: 150px;
  }
  
  section {
    display: flex; 
    display: block;
    min-height: 100px;
    padding: 6% 0;
    background-color: #FF5C92;
    color: #F2F2F2; 
  }
  
  section:nth-child(even) {
    background-color: #F2F2F2;
    color: #3A3B3D;
  }

  .fa {
    color: #F2F2F2;
  }

  .socialRow {
    margin-right: -15px;
    margin-left: -15px;
  }

  .contactIcon {
    padding: 20px;
  }

  /* .skillImage {
    padding: 20px;
  } */

  @media screen and (min-width: 800px){
    /* .navigation {
      display: flex;
      padding: 9px;
      background-color: #FF5C92;
      height: 40px;
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 10;
    }
    
    .menu {
      opacity: 100;
      display: flex;
      font-size: 18px;
      list-style-type: none;
      color: #F2F2F2;
      flex: 1;
      margin: 0;
      float: right;  
      font-family: "roboto";
      width: 20%;
      top: 0;
      right: 0;
    }

    .menuToggle{
      flex: 1;
      top: 0px;
      left: 0px;
    }

    .menuList {
      flex: 1; 
      color: #F2F2F2;
    }

    .hamburger {
      display: none;
    } */

  nav,
  footer {
  padding: 1% 0;
  background-color: #F2F2F2;
}

/* /////////// */

/* .navigation > #menuToggle {
  float: right;
  color: #F2F2F2;
} */


    /* header  { 
      background: url(images/bg.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    } */
/* 
    header {
      position: relative;
      width: 100%;
      height: 100%;
      min-height: auto;
      background-size: cover;
      background-position: center;
      background-color: red;
      text-align: center;
      color: white;
    } */

    #PROJECTS {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .screenshots {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    /* .space {
      width: 200px
    } */

    h2 {
      text-align: center;
    }

    /* .footer {
      display: flex;
    } */

    .socialRow {
      display: flex;
      flex: 1;
      justify-content: center;
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }

    .contactIcon {
      padding: 50px;
    }

    .skills {
      display: flex;
      flex: 8;
      justify-content: center;
      position: relative;
      min-height: 1px;
      padding: 15px;
    }

    /* .skillImage {
      flex-direction: row;
      flex: 15;
      justify-content: center;
      padding-right: 55px;
      padding-left: 55px;
    } */

    /* .project1, .project2 {
      box-sizing: border-box;
      height: 100px;
      width: 100px;
    } */

    

  }