.projectsBody {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
  }

  .link {
    color: #FF5C92;
  }

  .link:hover {
    color: #3A3B3D;
  }

.row {
    margin: 4px -16px;
    display: flex;
    justify-content: center;
  }

  p {
    font-family: "lato";
    font-size: 19px;
    font-weight: normal;
    padding-left: 10%;
    padding-right: 10%;
}
  
  .row,
  .row > .column {
    padding: 8px;
  }
  
  .column {
    display: flex;
    text-align: center;
    width: 35%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
  }

  @media screen and (max-width: 750px) {
    .column {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 900px) {
    .column {
      width: 75%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }