.projectsBody {
    /* background-color: #ffffff;
    padding: 20px;
    margin-top: 139px;
    margin-left: 160px;
    margin-right: 266px;
    font-family: Arial; */
  }

  .link {
    color: #FF5C92;
  }

  .link:hover {
    color: #3A3B3D;
  }

/* .row {
    margin: 4px -16px;
    display: flex;
    justify-content: center;
  } */
 

  p {
    font-family: "lato";
    font-size: 19px;
    font-weight: normal;
    /* padding-left: 10%;
    padding-right: 10%; */
    color: #154D54;
}
  
  /* .row,
  .row > .column {
    padding: 8px;
  }
   */
  /* .column {
    display: flex;
    text-align: left;
    width: 35%;
  } */
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    align-items: center;
    text-align: left;
    justify-content: center;
    background-color: white;
  }

  @media screen and (max-width: 750px) {
    .column {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 900px) {
    .column {
      width: 75%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }